# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
coverage/
.nyc_output/

# Builds / caches
build/
dist/
out/
.next/
.turbo/
.vercel/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment / secrets
.env
.env.*
!.env.example
!.env.*.example
*.pem
*.key
*.p8
*.p12
*.mobileprovision
*.jks
*.keystore

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
*.iml

# OS
.DS_Store
Thumbs.db

# Expo / React Native
.expo/
.expo-shared/
web-build/
.kotlin/
*.jsbundle
.metro-health-check*

# Prisma local
*.db
*.db-journal

# Docker local overrides
docker-compose.override.yml

# Infra: permitir scripts, bloquear secretos locales
infra/**/.env
infra/**/.env.*
!infra/**/.env.example
!infra/**/env.example
